li{
    display: inline-block;
    list-style: none;
}

#header{
    border-bottom: 2px solid gray;
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 10px;
}

#container{
    padding: 10px;
}

#content-area{
    padding: 20px;
}